body,
html {
    background-color: #242424;
    background-size: 100% 100%;
    font-family: Raleway, Verdana, sans-serif;
    width: 500px;
    min-height: 360px;
    background: #FFF;
}

#clock {
    font-weight: 700;
    font-size: 200px;
    display: inline;
}

#meridiem {
    font-size: 80px;
    font-weight: 700;
}

#greeting {
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}

.inner.ql {
    padding-top: 0;
}

.quicklinks {
    color: #ddd;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 48px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.quicklinks>span {
    margin-left: 40px;
}

.quicklinks>span img {
    margin-right: 5px;
}

.quicklinks a {
    font-weight: 400;
}

.quicklinks a:first-of-type {
    margin-left: 0;
}

.search-box form {
    text-align: center;
    margin-bottom: 10px;
}

.search-box form input:last-of-type {
    border-radius: 0 30px 30px 0;
    background-color: #fff;
}

.search-box form input {
    padding: 15px 22px;
    -webkit-box-shadow: 10px 10px 32px -10px rgba(48, 48, 48, 0.29);
    -moz-box-shadow: 10px 10px 32px -10px rgba(48, 48, 48, 0.29);
    box-shadow: 10px 10px 32px -10px rgba(48, 48, 48, 0.29);
}

.search-box form input[type="submit"] {
    padding-left: 32px;
    padding-right: 32px;
}

#q {
    border-radius: 30px 0 0 30px;
    width: 500px;
    /* not sure why but for some reason the border top is grey-ish which doesn't look nice next to submit button */
    border-top: white;
    border-bottom: white;
    padding: 28px;
}

#user-input {
    /*margin: 20px auto 0;*/
    margin: 280px auto 0;
}

.icon-magnifying-glass {
    background-image: url("./../img/magnifying-glass.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 27px 24px;
}

.bottom-left {
    float: left;
    font-size: 13px;
    text-align: left;
}

.image-attribution {
    color: #5d5d5d;
    font-weight: normal;
}

.image-attribution .attribution-name {
    color: #fff;
    padding-left: 5px;
}

#uninstall {
    color: #f4f4f4;
    cursor: pointer;
    float: left;
    font-size: 13px;
}

.static-links {
    float: right;
    color: #fff;
    font-size: 13px;
}

.mastfoot {
    margin-bottom: 18px;
    font-weight: 600;
}

@media (max-width: 830px) {
    #clock {
        font-size: 100px;
    }
    #greeting {
        font-size: 35px;
    }
}

@media (max-width: 610px) {
    .quicklinks {
        font-size: 13px;
    }
}

@media (min-width: 575px) and (max-width: 610px) {
    #q {
        width: 500px;
    }
}

@media (max-width: 574px) {
    #q {
        width: 100%;
    }
}

table {
    border-collapse: separate;
    border-spacing: .5px;
}

table tr td {
    padding: 6px;
    border: .5px solid #3b5998;
}

#simpleColorSelecter {
    left: calc( 50% - 200px) !important;
    top: calc( 50% - 250px) !important;
}

.pcr-save,
.pcr-cancel,
.pcr-clear {
    display: none;
}

.pcr-app {
    visibility: visible!important;
    opacity: 1 !important;
    top: 60px !important;
    left: calc( 50% - 225px) !important;
}