.online-color-picker-btn img {
    margin: 0 auto;
    max-width: 100%;
}

.online-color-picker-btn {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    color: white;
    border-radius: 50px;
    z-index: 99999999999999999999999999999999 !important;
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    background: #f5f5f5;
    box-shadow: 6px 6px 18px 0px rgb(0 0 0 / 30%) !important;
    cursor: pointer;
}

.online_color_picker_inner_body {
    width: 550px;
    height: 380px;
    position: fixed;
    z-index: 999999;
    /* background: white; */
    top: 20px;
    /* left: 70%; */
    right: 50px;
    /* margin-left: -35%; */
    padding: 3px;
    /*overflow: visible;*/
}

.online_color_picker_close_button {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 9999999;
    display: inline-block;
    color: black;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.online_color_picker_close_button:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

#online_color_picker_iframe {

    z-index: 99999999;
    box-shadow: 0 0.15em 1.5em 0 rgb(0 0 0 / 10%), 0 0 1em 0 rgb(0 0 0 / 3%);
    border: unset;
    width: 550px;
    height: 520px;
}